<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client_Shiplink</title>
      <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/dashboardLayout.css">
    @* <link rel="stylesheet" href="~/Client_Shiplink.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <div class="header">
           <div class="d-flex gap-2 align-items-center justify-content-center  ">
            <a>Ship</a>
            <img src="../Assets/imgdashboard/arrow-down.png" alt="Arrow Down" class="arrow-down" srcset="">
           </div>
           <div class="d-flex gap-2 align-items-center justify-content-center  ">
            <a>Track</a>
            <img src="../Assets/imgdashboard/arrow-down.png" alt="Arrow Down" class="arrow-down" srcset="">
           </div>
           <div class="d-flex gap-2 align-items-center justify-content-center  ">
            <a>Support</a>
            <img src="../Assets/imgdashboard/arrow-down.png" alt="Arrow Down" class="arrow-down" srcset="">
           </div>
           <div class="d-flex gap-2 align-items-center justify-content-center  ">
            <a>Support</a>
            <img src="../Assets/imgdashboard/arrow-down.png" alt="Arrow Down" class="arrow-down" srcset="">
           </div>
           <a class="d-flex gap-2 align-items-center justify-content-center  ">
            <img src="../Assets/imgdashboard/flag-uk.png" alt="user" style="width: 24px; height: 24px;">
            <div class="fw-bold">ENG</div>
            <img src="../Assets/imgdashboard/arrow-down.png" alt="Arrow Down" class="arrow-down" srcset="">
           </a>
           <a class="d-flex gap-2 align-items-center justify-content-center  ">
            <img src="../Assets/imgdashboard/user.png" alt="user" style="width: 30px; height: 30px;">
            <div>
            <div class="fw-bold">User</div>
            <div class="fw-light ">Premium</div>
            </div>
            <img src="../Assets/imgdashboard/arrow-down.png" alt="Arrow Down" class="arrow-down" srcset="">
           </a>
    </div>
    <div class="wrapper">
    <div class="sidebar">
        <div class="mx-auto" style="width:50%; padding:10px 0px;">
        <img src="../Assets/imgdashboard/Logo.png" alt="Logo" srcset="" class="" >
        </div>
        <hr class="mx-auto w-75" style="height:2px; background-color: #DEDEDE;">
        <div class="d-flex flex-column gap-3 justify-content-between ">
        <div class="d-flex flex-column mx-auto w-75 gap-3">
            <a href="~/Dashboard/" class="d-flex flex-column flex-md-row align-items-center  gap-2">
                      <img src="../Assets/imgdashboard/dashboard.svg" alt="icon dashboard" srcset="">
                <div >Dashboard</div>
            </a>
            <a href="~/Dashboard/package" class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/mailbox.svg" alt="icon dashboard" srcset="">
                <div >My packages</div>
            </a>
            <a href="~/Dashboard/shipment" class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/shipment.svg" alt="icon shipments" srcset="">
                <div >My Shipments</div>
            </a>
      
            <div>
                Setting
            </div>
            <a href="~/Dashboard/address" class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/address.svg" alt="icon address" srcset="">
                <div >My Adresses</div>
            </a>
            <a href="~/Dashboard/membership" class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/boxsize.svg" alt="icon box size" srcset="">
                <div >Saved Box Sizes</div>
            </a>
           
            <a href="~/Dashboard/membership" class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/membershipplans.svg" alt="icon membership" srcset="">
                <div >Membership Plan</div>
            </a>
             <a href="~/Dashboard/membership" class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/acount.svg" alt="icon Account" srcset="">
                <div >Acount Details</div>
            </a>
                   <a href="~/Dashboard/billinghistory"  class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/billing.svg" alt="icon billing" srcset="">
                <div>Billing History</div>
            </a>
            <a href="~/Dashboard/referfriends"  class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/referfriend.svg" alt="icon refer" srcset="">
                <div >Refer Friends</div>
            </a>
            <a href="~/Dashboard/referfriends"  class="d-flex flex-column flex-md-row align-items-center  gap-2">
                <img src="../Assets/imgdashboard/support.svg" alt="icon support" srcset="">
                <div >Support</div>
            </a>
    </div>
        </div>
        <div class="border d-flex flex-column align-items-center gap-2 rounded my-4 mx-auto" style="width: 80%; padding: 10px;">
           <div class="p-1 border rounded d-flex align-items-center gap-1 ">
            <button class="px-2 py-1 rounded bg-red-clr ">USA</button>
            <button class="px-2 py-1 rounded">Canada</button>
           </div>
           <div class="text-start">
                <div class="fw-semibold ">Ucok Pahlevi</div>
                <div class="fw-semibold">Nasuha, 473 Amherst St.,Unit 7193828, NH, 03063</div>
                <div>781-491-0874</div>
                </div>
      </div>
      <div class="w-75 d-flex flex-column gap-3 mx-auto">
     <button class="w-75 bg-red-clr w-100 p-1 rounded"> My Account</button>
     <button class="w-75 p-1 mx-auto rounded" style="background-color: #EEF0F3;"><a href="~/Home/login">Log Out</a></button>
     </div>
      </div>
      <main class="content">
        @RenderBody()
    </main>
</div>

     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
