.content {
  background-color: #ffffff;
}

.text-red-clr {
  color: #d90429;
}
.bg-red-clr {
  background: #d90429;
  color: white;
}
.bg-line-red-clr {
  background: #d90429;
}
.bg-green-clr {
  background-color: #50cd8d;
}

.bg-grey-clr {
  background-color: #dedede;
}
.btn-green-clr {
  background-color: #8ddeb5;
  color: #50cd8d;
  border: 1px solid #50cd8d;
}
.btn-blue-clr {
  background-color: #c5e2ff;
  color: #3e9eff;
  border: 1px solid #3e9eff;
}
.btn-orange-clr {
  background-color: #ffecc8;
  color: #ffc149;
  border: 1px solid #ffc149;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
.second {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 20px;
}

.text-red-clr {
  color: #cc0019;
  font-family: 600;
}
.btn-red-clr {
  border: none;
  background-color: #cc0019;
  color: white;
}
.img-option {
  width: 30px;
  height: 30px;
}
.text-blue-clr {
  color: #0d509a;
}
