* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  position: relative;
}

.bg-red-clr {
  background: #d90429;
  color: white;
}

.Link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
}
/* CSS for active link */
.Link.active {
  background-color: #d90429;
}
.Link.active div {
  color: white;
}
/* CSS for active link and white SVG */
.Link.active img {
  filter: invert(100%);
}
/* 
h1 {
  font-size: 30px;
  font-weight: 600;
}
h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
} */
.header a {
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  color: black;
}
.header {
  position: absolute;
  top: 0;
  width: 98%;
  z-index: 20;
  padding: 20px 0px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: end;
}

button {
  border: none;
}

.wrapper {
  width: 100vw;
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  width: 20%;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  z-index: 30;
}
.wrapper .sidebar a {
  text-decoration: none;
  font-size: 14px;
  padding: 4px 10px;
  color: #000;
}
.wrapper .content {
  position: relative;
  width: 78%;
  height: auto;
  padding: 100px 5px 5px 5px;
}

.active-link {
  background-color: #d90429;
  color: white;
  border-radius: 4px;
}
