.first {
  width: 100%;
  height: 50%;
  background-image: url('../Assets/imgdashboard/bg-membership.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.second {
  padding: 40px;
}
.btn-red-clr {
  border: none;
  color: white;
  background-color: #d90429;
  padding: 10px 32px;
}

.card {
  width: 100%;
  height: auto;
}

.card .card-title {
  display: flex;
  gap: 16px;
}
.card-pay {
  color: rgba(0, 80, 157, 1);
  font-size: 32px;
}
.card-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  margin-top: 20px;
}
.card-text-svg {
  display: flex;
  gap: 8px;
  align-items: center;
}
