.content {
  background-color: #ffffff;
}

label {
  font-weight: 600;
  margin-bottom: 4px;
}
.text-red-clr {
  color: #d90429;
}
.text-blue-clr {
  color: #0d509a;
}

.bg-red-clr {
  background: #d90429;
  color: white;
}
.btn-red-clr {
  background: #d90429;
  color: white;
}

.btn-transparent-clr {
  background-color: transparent;
  border: 1px solid #d90429;
  color: #d90429;
}
.bg-line-red-clr {
  background: #d90429;
}
.bg-green-clr {
  background-color: #50cd8d;
}

.bg-grey-clr {
  background-color: #dedede;
}
.btn-green-clr {
  background-color: #8ddeb5;
  color: #50cd8d;
  border: 1px solid #50cd8d;
}
.btn-blue-clr {
  background-color: #c5e2ff;
  color: #3e9eff;
  border: 1px solid #3e9eff;
}
.btn-orange-clr {
  background-color: #ffecc8;
  color: #ffc149;
  border: 1px solid #ffc149;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}
p {
  margin-top: 2px;
}
.second {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 20px;
}

.text-red-clr {
  color: #cc0019;
  font-family: 600;
}
.btn-red-clr {
  border: none;
  background-color: #cc0019;
  color: white;
}
.img-option {
  width: 30px;
  height: 30px;
}
