body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.footer-ship {
  gap: 20px;
}
.support .container {
  gap: 32px;
  padding: 20px;
}
@media (min-width: 768px) {
  .footer-ship {
    gap: 32px;
    padding: 40px 0px;
  }
  .support .container {
    gap: 0px;
    padding: 0px;
  }
  .terms {
    gap: 48px;
    margin-left: 80px;
  }
}
