  <div class="col p-2 border rounded">
            <div class="d-flex align-items-center gap-4 justify-content-end  ">
                <div class="text-red-clr">Edit</div>
                <img src="../Assets/imgdashboard/edit-icons.png" alt="Edit Icons" />
            </div>
            <h3>Sarah Johnson</h3>
            <div>Photo Frame</div>
            <div>8x9x10 In</div>
            <div>0.5 Ibs</div>
            <div class="d-flex justify-content-end ">
                <p>8/22/2023</p>
            </div>
        </div>