<div class="col border rounded p-2">
     <div class="d-flex gap-2 align-items-center ">
          <div class="overflow-hidden" style="width: 30px; height: 30px; border-radius: 100%;">
            <img src="../Assets/imgdashboard/usa-flag.png" class="w-100 h-100" alt="Flag Country">
            </div>
            <h2 class="mt-2">USA</h2>
        </div>
        <h3>
          Alex Rodriguez
        </h3>
        <div>
          890 Elmridge Ave., Unit 7E, Lexington MA, 02421
        </div>
        <div>781-987-6543</div>
        <div>alex.rodriguez@email.com</div>
</div>