        <div class="w-100 h-100 d-flex flex-column  p-4 gap-4 border rounded ">
            <h2>Forward Package</h2>
            <div class="d-flex gap-2 border rounded p-1" style="width:fit-content">
                <button class="btn" id="btn-addressBook">Address Book</button>
                <button class="btn btn-red-clr" id="btn-newAddress">New Address</button>
            </div>
            <form class="flex-column gap-3" style="display:flex;" id="newAddress">
                <div>
                <label>Full Name <span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Name" />
                </div>
                <div>
                <label>Street Address <span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Address" />
                </div>
                <div class="d-flex gap-4">
                    <div>
                        <label>City<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input City" />
                    </div>
                    <div>
                        <label>State/Province<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input State/Province" />
                    </div>
                </div>
                <div class="d-flex gap-4">
                    <div>
                        <label>Country<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Country" />
                    </div>
                    <div>
                        <label>Zip/Postal Code<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Zip/Portal Code" />
                    </div>
                </div>
                 <div>
                        <label>Email<span class="text-red-clr">*</span></label>
                <input type="email" class="form-control" placeholder="Input Email" />
                    </div>
                     <div>
                        <label>Phone<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Phone" />
                    </div>
                    <div class="d-flex gap-2">
                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        </div>
                                        <div>Save to Address Book ? </div>
                    </div>
                    <button class="btn ms-auto" style="background-color:#0D509A; color:white;">Confirm</button>
            </form>
            <div>
                <div class="pb-4 border-bottom" style="display:none;" id="addressBook">
              <div class="d-flex justify-content-between ps-1 pe-2 gap-1 border rounded align-items-center w-100 h-100">
            <input type="text" class="form-control" style="border:none;" placeholder="Search Address Id">
            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.6 18.5L10.3 12.2C9.8 12.6 9.225 12.9167 8.575 13.15C7.925 13.3833 7.23333 13.5 6.5 13.5C4.68333 13.5 3.146 12.8707 1.888 11.612C0.63 10.3533 0.000666667 8.816 0 7C0 5.18333 0.629333 3.646 1.888 2.388C3.14667 1.13 4.684 0.500667 6.5 0.5C8.31667 0.5 9.854 1.12933 11.112 2.388C12.37 3.64667 12.9993 5.184 13 7C13 7.73333 12.8833 8.425 12.65 9.075C12.4167 9.725 12.1 10.3 11.7 10.8L18 17.1L16.6 18.5ZM6.5 11.5C7.75 11.5 8.81267 11.0623 9.688 10.187C10.5633 9.31167 11.0007 8.24933 11 7C11 5.75 10.5623 4.68733 9.687 3.812C8.81167 2.93667 7.74933 2.49933 6.5 2.5C5.25 2.5 4.18733 2.93767 3.312 3.813C2.43667 4.68833 1.99933 5.75067 2 7C2 8.25 2.43767 9.31267 3.313 10.188C4.18833 11.0633 5.25067 11.5007 6.5 11.5Z" fill="#D90429"/>
</svg>
        </div>
        <div class="p-2 border rounded d-flex align-items-center gap-3">
        <img src="../Assets/imgdashboard/canada-flag.png" alt="" srcset="">
           <div>

            <div class="d-flex gap-2">
                <label for="">Username |</label>
                <div>781-491-0874</div>
            </div>
            <div>
                473 Amherst St. Unit 7193828.  USA, Las Vegas, State, 82112
            </div>
           </div>

        </div>
      </div>
            </div>
            <div class="py-4 border-t">
                <h2>Shipping Option</h2>
                <div>
                    <button class="btn" style="background-color:#FBE6E9; border:1px solid #D90429; color: #D90429;">Cheapest</button>
                    <button class="btn">Fastest</button>0
                </div>
            </div>


            <script>
                const newAddress = document.getElementById("newAddress");
                const addressBook = document.getElementById("addressBook");
                const btnAddressBook = document.getElementById("btn-addressBook");
                const btnNewAddress = document.getElementById("btn-newAddress");

                btnAddressBook.addEventListener('click' , function()  {
                    addressBook.style.display = "block";
                    newAddress.style.display = "none";
                    btnAddressBook.classList.add("btn-red-clr");
 btnNewAddress.classList.remove("btn-red-clr");

                })
                btnNewAddress.addEventListener('click' , function()  {
                    addressBook.style.display = "none";
                    newAddress.style.display = "flex";   
                    btnNewAddress.classList.add("btn-red-clr");
                    btnAddressBook.classList.remove("btn-red-clr");
                })


            </script>