        <div class="w-100 h-100 d-flex flex-column  p-4 gap-4 border rounded ">
            <h2>Forward Package</h2>
            <div class="d-flex gap-2 border rounded p-1" style="width:fit-content">
                <button class="btn">Address Book</button>
                <button class="btn btn-red-clr">New Address</button>
            </div>
            <form class="d-flex flex-column gap-3">
                <div>
                <label>Full Name <span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Name" />
                </div>
                <div>
                <label>Street Address <span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Address" />
                </div>
                <div class="d-flex gap-4">
                    <div>
                        <label>City<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input City" />
                    </div>
                    <div>
                        <label>State/Province<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input State/Province" />
                    </div>
                </div>
                <div class="d-flex gap-4">
                    <div>
                        <label>Country<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Country" />
                    </div>
                    <div>
                        <label>Zip/Postal Code<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Zip/Portal Code" />
                    </div>
                </div>
                 <div>
                        <label>Email<span class="text-red-clr">*</span></label>
                <input type="email" class="form-control" placeholder="Input Email" />
                    </div>
                     <div>
                        <label>Phone<span class="text-red-clr">*</span></label>
                <input type="text" class="form-control" placeholder="Input Phone" />
                    </div>
                    <div class="d-flex gap-2">
                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        </div>
                                        <div>Save to Address Book ? </div>
                    </div>
                    <button class="btn ms-auto" style="background-color:#0D509A; color:white;">Confirm</button>
            </form>
            <div class="py-4 border-t">
                <h2>Shipping Option</h2>
                <div>
                    <button class="btn" style="background-color:#FBE6E9; border:1px solid #D90429; color: #D90429;">Cheapest</button>
                    <button class="btn">Fastest</button>
                </div>
            </div>