<div class="px-2 py-1 d-flex align-items-center justify-content-center border rounded bg-red-clr">
  <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M24.0035 0H0.995138C0.229442 0 -0.248726 0.932263 0.135684 1.67598L7.4051 15.4818V23.8827C7.4051 24.5007 7.84889 25 8.39894 25H16.5997C17.1497 25 17.5935 24.5007 17.5935 23.8827V15.4818L24.8661 1.67598C25.2474 0.932263 24.7692 0 24.0035 0ZM15.3558 22.486H9.64281V17.0391H15.359V22.486H15.3558ZM15.6559 14.2249L15.359 14.8045H9.63968L9.34278 14.2249L3.14533 2.51397H21.8533L15.6559 14.2249Z"
      fill="white"
    />
  </svg>
</div>

