@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<head>
     <link href="~/css/dashboardIndex.css" rel="stylesheet" />
</head>

    <div class="d-flex gap-2 h-100">
        <div class="d-flex flex-column p-4 border rounded w-100 h-auto ">
            <h1>Billing History</h1>
            <p>Manage Your Billing Information</p>
           <div class="w-100 h-100 d-flex gap-4 flex-column align-items-center justify-content-center ">
            <h1 class="text-red-clr fw-bold " style="font-size: 60px;">ShipLink</h1>
            <div class="text-center">
            <h2 class="fw-semibold">You Dont Have Any Data Display Here</h2>
            <h2 class="fw-normal ">Start Shipping Today </h2>
            </div>
            <button class="btn-red-clr px-2 py-1 rounded">Send Package</button>
        </div>
        </div>
        <partial name="../Components/DashboardStatus" />
    </div>
