@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<head>
     <link href="~/css/dashboardIndex.css" rel="stylesheet" />
</head>

<div class="d-flex gap-2 w-100 h-100 " >
    <div class="border rounded w-100" style="padding: 20px ;">
        <div class=" d-flex justify-content-between align-items-center py-3 w-100 h-auto ">
        <div class=" d-flex  text-start " style="gap:20px;">
            <h1>Income Shipments</h1>
            <h1>Outging Shipments</h1>
        </div>
        <div class="w-25">
            <input type="text" class="form-control" placeholder="Search your package" >
        </div>
        </div>
        <div class="d-flex gap-3 flex-column">
        <div class="border rounded d-flex flex-column gap-3 p-2">
        <div class="d-flex align-items-center justify-content-between gap-4" >
            <div class="d-flex gap-5 ">
              <div class="d-flex gap-2">
                <img src="../Assets/imgdashboard/iconexpress.png" alt="" srcset="">
                <div>
                    <h3>#5635-342808</h3>
                    <div class="d-flex gap-2 align-items-center justify-content-center  ">
                        <div>Express</div>
                        <div class="text-red-clr">872812138328</div>
                        <img src="../Assets/imgdashboard/iconsave.png" alt="" srcset="">
                    </div>
                    </div>
                </div>
                <div class="d-flex gap-2 align-items-center   ">
                <div class="h-100 rounded" style="width: 4px; background-color: #DEDEDE;"></div>
                <img src="../Assets/imgdashboard/canada-flag.png" alt="" srcset="" style="width: 44px; height: 27px;">
            </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-50 ">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-1">
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                </div>
                 <div>
                    Shipped, 12 jun, 2023
                </div>
            </div>
            <div class="d-flex align-items-center  gap-4">
            <div class="d-flex flex-column gap-2">
                <button class="p-1 rounded btn-green-clr" >Ready To Pickup</button>
                   <div>Boston, USA</div>
               </div>   
            <div class="">
                    <img src="../Assets/imgdashboard/arrow-down-gray.png" alt="" srcset="">
            </div>
                   </div>
            </div>

        </div>
          <div class="d-flex align-items-center justify-content-between ">
                <div class="d-flex gap-2">
                    <img src="../Assets/imgdashboard/iconphone.png" alt="" srcset="">
                    <div>
                    <div class="fw-semibold">
                        Name Or Something
                    </div>
                    <div>12mm x 10mm</div>
                    <div>
                        1 kg
                    </div>
                    </div>
                </div>
                <div class="d-flex flex-column"> 
                <div>
                     Confirm Your Order
                    </div>
                    <div class="d-flex gap-3">
                        <button class="bg-red-clr px-4 py-1 rounded">Hold - Pickup</button>
                        <button class="bg-red-clr px-4 py-1 rounded">Border Pickup</button>
                        <button class="bg-red-clr px-4 py-1 rounded">Forward Package</button>
                    </div>
                </div>
        </div>
        </div>
         <div class="d-flex align-items-center justify-content-between gap-4 p-2 border rounded " >
            <div class="d-flex gap-5 ">
              <div class="d-flex gap-2">
                <img src="../Assets/imgdashboard/iconexpress.png" alt="" srcset="">
                <div>
                    <h3>#5635-342808</h3>
                    <div class="d-flex gap-2 align-items-center justify-content-center  ">
                        <div>Express</div>
                        <div class="text-red-clr">872812138328</div>
                        <img src="../Assets/imgdashboard/iconsave.png" alt="" srcset="">
                    </div>
                    </div>
                </div>
                <div class="d-flex gap-2 align-items-center   ">
                <div class="h-100 rounded" style="width: 4px; background-color: #DEDEDE;"></div>
                <img src="../Assets/imgdashboard/usa-flag.png" alt="" srcset="" style="width: 44px; height: 27px;">
            </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-50 ">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-1">
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                    <div class="rounded bg-grey-clr" style="width: 40px; height: 8px;"></div>
                </div>
                 <div>
                    Shipped, 12 jun, 2023
                </div>
            </div>
            <div class="d-flex align-items-center  gap-4">
            <div class="d-flex flex-column gap-2">
                <button class="p-1 rounded btn-blue-clr" >Recieved</button>
                   <div>Boston, USA</div>
               </div>   
            <div class="">
                    <img src="../Assets/imgdashboard/arrow-down-gray.png" alt="" srcset="">
            </div>
                   </div>
            </div>
        </div>
         <div class="d-flex align-items-center justify-content-between gap-4 p-2 border rounded " >
            <div class="d-flex gap-5 ">
              <div class="d-flex gap-2">
                <img src="../Assets/imgdashboard/iconexpress.png" alt="" srcset="">
                <div>
                    <h3>#5635-342808</h3>
                    <div class="d-flex gap-2 align-items-center justify-content-center  ">
                        <div>Express</div>
                        <div class="text-red-clr">872812138328</div>
                        <img src="../Assets/imgdashboard/iconsave.png" alt="" srcset="">
                    </div>
                    </div>
                </div>
                <div class="d-flex gap-2 align-items-center   ">
                <div class="h-100 rounded" style="width: 4px; background-color: #DEDEDE;"></div>
                <img src="../Assets/imgdashboard/canada-flag.png" alt="" srcset="" style="width: 44px; height: 27px;">
            </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-50 ">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-1">
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                </div>
                 <div>
                    Shipped, 12 jun, 2023
                </div>
            </div>
            <div class="d-flex align-items-center  gap-4">
            <div class="d-flex flex-column gap-2">
                <button class="p-1 rounded btn-green-clr" >Ready To Pickup</button>
                   <div>Boston, USA</div>
               </div>   
            <div class="">
                    <img src="../Assets/imgdashboard/arrow-down-gray.png" alt="" srcset="">
            </div>
                   </div>
            </div>
        </div>
         <div class="d-flex align-items-center justify-content-between gap-4 p-2 border rounded " >
            <div class="d-flex gap-5 ">
              <div class="d-flex gap-2">
                <img src="../Assets/imgdashboard/iconexpress.png" alt="" srcset="">
                <div>
                    <h3>#5635-342808</h3>
                    <div class="d-flex gap-2 align-items-center justify-content-center  ">
                        <div>Express</div>
                        <div class="text-red-clr">872812138328</div>
                        <img src="../Assets/imgdashboard/iconsave.png" alt="" srcset="">
                    </div>
                    </div>
                </div>
                <div class="d-flex gap-2 align-items-center   ">
                <div class="h-100 rounded" style="width: 4px; background-color: #DEDEDE;"></div>
                <img src="../Assets/imgdashboard/usa-flag.png" alt="" srcset="" style="width: 44px; height: 27px;">
            </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-50 ">
            <div class="d-flex flex-column gap-2">
                <div class="d-flex gap-1">
                    <div class="rounded bg-green-clr" style="width: 40px; height: 8px;"></div>
                    <div class="rounded bg-grey-clr" style="width: 40px; height: 8px;"></div>
                    <div class="rounded bg-grey-clr" style="width: 40px; height: 8px;"></div>
                </div>
                 <div>
                    Shipped, 12 jun, 2023
                </div>
            </div>
            <div class="d-flex align-items-center  gap-4">
            <div class="d-flex flex-column gap-2">
                <button class="p-1 rounded btn-orange-clr" >In Transit</button>
                   <div>Boston, USA</div>
               </div>   
            <div class="">
                    <img src="../Assets/imgdashboard/arrow-down-gray.png" alt="" srcset="">
            </div>
                   </div>
            </div>
        </div>
        </div>
    </div>
    @Html.Partial("../Components/DashboardStatus")
</div>
