@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<head>
     <link href="~/css/dashboardIndex.css" rel="stylesheet" />
</head>

<style>
    .img-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid #DEDEDE;
        transition: 0.5s all;
    }
    .img-icon:hover { 
        border: 1px solid #286EB6;
        box-shadow: 5px 5px #DEDEDE;
    }
    .form-control{
        border: none;
    }
    .bg-image{
        position: absolute;
        height: 100%;
        width: 50%;
        bottom: 0;
        right: 0;
    }
    .text-red-clr {
    color: #000;
    background-color: white;
    }
    .text-red-clr:hover {
    color: white;
    background-color: #d90429;
    }

</style>
<body>
    <div class="d-flex flex-column gap-3" style="width: 100%; height: 100vh;">
   <div class="d-flex gap-4 border rounded p-4 ">
    <div class="" style="width: 60%;">
    <h1>Refer a Friends</h1>
    <p>Copy the refferal code below and send for family and friends. When they register with your code and ship their first order, both of you will receive a US $ 15 credit towards future shipments!  </p>
    <div class="d-flex gap-2 align-items-center py-2  ">
        <h3 style="font-weight:600;">HFGDTHJNJ123</h3>
        <img src="../Assets/imgdashboard/save-icons.png" alt="" srcset="" class="" style="width: 24px; height: 27px;">
    </div>
    <div class="py-2">
    <h2>Or Share The Link to Your Social Media</h2>
    <p>Invite Friends or Family to sign up using your link and you’ll get benefit of their earnings awarded in ShipLink.</p>
</div>
    <div class="d-flex gap-4">
        <div class="d-flex gap-2">
            <div class="px-2 py-1 border rounded-2 d-flex align-items-center gap-2">
               <img src="../Assets/imgdashboard/save-icons.png" alt="" srcset="" style="width: 24px; height: 27px;">
                <input type="text" class="form-control fw-semibold" value="shiplink.com/userHFGTHJNJ123">
            </div>
            <img src="../Assets/imgdashboard/share-icons.png" alt="" srcset="">
        </div>
        <div class="d-flex">
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/fb-icons.png" alt="Facebook Icon" srcset="">
            </div>
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/wa-icons.png" alt="wa Icon" srcset="">
            </div>
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/ig-icons.png" alt="instagram Icon" srcset="">
            </div>
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/snap-icons.png" alt="Facebook Icon" srcset="">
            </div>
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/email-icons.png" alt="email Icon" srcset="">
            </div>
        </div>
    </div>
    </div>
    <div class=" h-auto" style="width: 40%;">
        <img src="../Assets/imgdashboard/refer-friend.png" alt="" srcset="" class="img-fluid">
    </div>
</div>
<div class="rounded border d-flex align-items-center w-100 position-relative  h-100 p-4">
                <div class="w-50 d-flex">
                    <div class="d-flex gap-2 flex-column w-75 m-auto">
                <div class="d-flex gap-2 align-items-center">
                <div class="d-flex align-items-center w-100  justify-content-between border rounded p-2">
                    <h3>User name, </h3>
                    <div>Joined  : 12/12/2023</div>
                </div>
                 <div class="border rounded p-2">
                    <div class="fw-bold p-1">$15</div>
                </div>
                </div>
                <div class="d-flex gap-2 align-items-center">
                <div class="d-flex align-items-center w-100 justify-content-between border rounded p-2 ">
                    <h3>User name, </h3>
                    <div>Joined  : 12/12/2023</div>
                </div>
                <div class="border rounded p-2">
                    <div class="fw-bold p-1">$15</div>
                </div>
                </div>
                <div class="d-flex gap-2 align-items-center">
                <div class="d-flex align-items-center w-100 justify-content-between border rounded p-2 ">
                    <h3>User name, </h3>
                    <div>Joined  : 12/12/2023</div>
                </div>
         <div class="border rounded p-2">
                    <div class="fw-bold p-1">$15</div>
                </div>
                </div>
                <div class="d-flex gap-2 align-items-center">
                <div class=" d-flex align-items-center w-100 justify-content-between border rounded p-2 ">
                    <h3>User name, </h3>
                    <div>Joined  : 12/12/2023</div>
                </div>
       <div class="border rounded p-2">
                    <div class="fw-bold p-1">$15</div>
                </div>
                </div>
                <nav class="mt-3" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link text-red-clr" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link text-red-clr" href="#">1</a></li>
    <li class="page-item"><a class="page-link text-red-clr" href="#">2</a></li>
    <li class="page-item"><a class="page-link text-red-clr" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link text-red-clr" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
           </div>
            </div>
             <div class="d-flex flex-column h-100 pt-5 w-50 gap-2">
        <h2>Here are your Referals that have joined</h2>
        <p>Copy the refferal code below and send for family and friends. When they register with your code and ship their first order, both of you will receive a US $ 15 credit towards future shipments! </p>
        <div class="d-flex p-3 gap-3 border rounded" style="width: fit-content;">
        <img src="../Assets/imgdashboard/moneyicons.png" alt="money icons" srcset="" class="" style="width: 40px; height: 40px;">
        <div >
        <h2>Total Earn</h2>
        <h2>$60</h2>
        </div>
    </div>
        </div>
    <img src="../Assets/imgdashboard/line-blue.png" class="bg-image" alt="" srcset="">
            </div>

    </div>
</div>
</body>
