@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<head>
     <link href="~/css/dashboardLayout.css" rel="stylesheet" />
</head>

<style>
    .img-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid #DEDEDE;
        transition: 0.5s all;
    }
    .img-icon:hover { 
        border: 1px solid #286EB6;
        box-shadow: 5px 5px #DEDEDE;
    }
    .form-control{
        border: none;
    }
</style>
<body>
   <div class="d-flex gap-4 border rounded p-4 ">
    <div class="" style="width: 60%;">
    <h1>Your Refferal Code </h1>
    <p>Copy the refferal code below and send for family and friends. When they register with your code and ship their first order, both of you will receive a US $ 15 credit towards future shipments!  </p>
    <div class="d-flex gap-2 align-items-center py-2  ">
        <div class="fw-bold">HFGDTHJNJ123</div>
        <img src="../Assets/imgdashboard/save-icons.png" alt="" srcset="" class="" style="width: 24px; height: 27px;">
    </div>
    <div class="py-2">
    <h1>Or Share The Link to Your Social Media</h1>
    <p>Invite Friends or Family to sign up using your link and you’ll get benefit of their earnings awarded in ShipLink.</p>
</div>
    <div class="d-flex gap-4">
        <div class="d-flex gap-2">
            <div class="px-2 py-1 border rounded-2 d-flex align-items-center gap-2">
               <img src="../Assets/imgdashboard/save-icons.png" alt="" srcset="" style="width: 24px; height: 27px;">
                <input type="text" class="form-control fw-semibold" value="shiplink.com/userHFGTHJNJ123">
            </div>
            <img src="../Assets/imgdashboard/share-icons.png" alt="" srcset="">
        </div>
        <div class="d-flex">
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/fb-icons.png" alt="Facebook Icon" srcset="">
            </div>
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/wa-icons.png" alt="wa Icon" srcset="">
            </div>
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/ig-icons.png" alt="instagram Icon" srcset="">
            </div>
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/snap-icons.png" alt="Facebook Icon" srcset="">
            </div>
            <div class="img-icon rounded">
                <img src="../Assets/imgdashboard/email-icons.png" alt="email Icon" srcset="">
            </div>
        </div>
    </div>
    </div>
    <div class=" h-auto" style="width: 40%;">
        <img src="../Assets/imgdashboard/refer-friend.png" alt="" srcset="" class="img-fluid">
    </div>
</div>
</body>
