@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<head>
  <link href="~/css/dashboardIndex.css" rel="stylesheet" />
</head>

<div class="d-flex gap-2 h-100">
  <div class="w-100">
    <h1>SavedQoutes</h1>
  </div>
  <div class="" style="width: 30%; height: 100%;">
    <partial name="../Components/DashboardStatus" />
    </div>
</div>

