@using Client_Shiplink.DummyDataSaveBox
@using Client_Shiplink.Models.SavedBoxSizes
@model Client_Shiplink.Models.SavedBoxSizes.SavedBoxSize

@{
  Layout = "~/Views/Shared/_DashboardLayout.cshtml";
  var dummyDataSaveBox = DummyDataSaveBox.GetDummyData();
}
<head>
  <link href="~/css/dashboardIndex.css" rel="stylesheet" />
</head>
<style>
  .grid-4-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
  .grid-2-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

</style>

<div class="d-flex gap-2 w-100 h-100">
  <div class="d-flex flex-column gap-3 w-100 border rounded p-4">
    <h1>Saved Box Sizes</h1>
    <div class="d-flex align-items-center justify-content-between">
      <partial name="../Components/SwitchComponents" />
      <div class="d-flex gap-2">
        <partial name="../Components/SearchIconComponents" />
        <partial name="../Components/SortComponents" />
      </div>
      <div class="d-flex gap-2">
        <partial name="../Components/TrushComponents" />
        <partial name="../Components/ButtonAddNew" />
      </div>
    </div>
    <div>
      <div class="grid-4-container" id="ListOne" >
        @foreach (var savedBoxSize in dummyDataSaveBox)
        {
                                                                    <partial name="../Components/SavedBoxSizeComponents" model="savedBoxSize" />
        }
      </div>
      <div class="grid-2-container" style="display:none;" id="ListTwo">
        @foreach (var savedBoxSize in dummyDataSaveBox)
        {
                                                          <div class="p-1 border rounded">
                                                                <div class="d-flex align-items-center justify-content-between">
                                                                  <div>
                                                                    <h3>@savedBoxSize.Pict</h3>
                                                              <div class="d-flex align-items-center">
                                                                    <div>@savedBoxSize.Size In</div>
                                                                    <div>@savedBoxSize.Weight Ibs</div>
                                                                   </div>
                                                                   </div>
                                                                    <div>
                                                                    <div class="d-flex align-items-center gap-3  ">
                                                                        <div class="text-red-clr">Edit</div>
                                                                        <img src="../Assets/imgdashboard/edit-icons.png" alt="Edit Icons" />
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                        </div>
                                                                    </div>
                                                                        <p>@savedBoxSize.Date</p>
                                                                    </div>
                                                                    </div>
                                                                </div>
        }
      </div>


      <nav class="mt-3 d-flex justify-content-end" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link text-red-clr" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link text-red-clr" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-red-clr" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-red-clr" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link text-red-clr" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="h-100" style="width: 30%;" id="dashboardStatus">
    <div class="w-100 h-100"  >
      <partial name="../Components/DashboardStatus" />
    </div>
</div>
    <div class="" style="width:40%; display:none;" id="inputNew">
    <div class="w-100 h-100 border rounded p-4 d-flex flex-column gap-4" >
      <div>
        <label for="">Save Box Name <span class="text-red-clr">*</span></label>
        <input type="text" class="form-control" placeholder="Box Name">
      </div>
     <label for="">Package Dimension<span class="text-red-clr">*</span></label>
      <div>
        <label for="">Width</label>
        <input type="text" class="form-control w-50" placeholder="0">
      </div>
      <div>
        <label for="">Length</label>
        <input type="text" class="form-control w-50" placeholder="0">
      </div>
      <div>
        <label for="">Height</label>
        <div class="w-100 d-flex gap-2">
        <input type="text" class="form-control w-50" placeholder="0">
         <select class="form-select w-auto"  >
  <option selected>In</option>
  <option value="1">In</option>
  <option value="2">In</option>
  <option value="3">In</option>
</select>
        </div>
      </div>
      <div>
        <label for="">Package Weight <span class="text-red-clr">*</span></label>
        <div class="w-100 d-flex gap-2">
        <input type="text" class="form-control w-50" placeholder="0">
         <select class="form-select w-auto"  >
  <option selected>In</option>
  <option value="1">In</option>
  <option value="2">In</option>
  <option value="3">In</option>
</select>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center gap-4 mt-5">
        <button class="btn btn-transparent-clr" id="cancelInput">Cancel</button>
        <button class="btn btn-red-clr">Save</button>
      </div>
    </div>
  </div>
  </div>

<script>
  const dashboardStatus = document.getElementById("dashboardStatus");
  const inputNew = document.getElementById("inputNew");
  const buttonAddNew = document.getElementById("buttonAddNew");
  const cancelInput = document.getElementById("cancelInput")
  const ListOne = document.getElementById("ListOne")
  const ListTwo = document.getElementById("ListTwo")
  const SwitchOne = document.getElementById("SwitchOne")
  const SwitcTwo = document.getElementById("SwitchTwo")

  SwitchOne.addEventListener("click", function () { 
    ListOne.style.display = "grid";
    ListTwo.style.display = "none";
  })

  SwitchTwo.addEventListener("click", function () { 
    ListOne.style.display = "none";
    ListTwo.style.display = "grid";
  })
  buttonAddNew.addEventListener("click", function() {
    dashboardStatus.style.display = "none";
    inputNew.style.display = "block";
  });
  cancelInput.addEventListener("click" , function () {
    dashboardStatus.style.display = "block";
    inputNew.style.display = "none";
  })
</script>