@{
  Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<head>
  <link href="~/css/dashboardIndex.css" rel="stylesheet" />
</head>

<div class="d-flex gap-2 h-100">
  <div class="w-100">
    <h1>My Shipment</h1>
  </div>
  @Html.Partial("../Components/DashboardStatus")
</div>


