  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <link href="~/lib/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/aboutus.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="padding: 100px 0px 0px 0px;">
    <div class="d-flex flex-column" style="">
    <h2 class="text-blue-clr" style="font-weight: 600;" >About Us</h2>
    <h1 style="font-size: 32px;">Closer to ShipLink</h1>
    <p>We are the best-in-class platform for national and international shipping services. Our many years of experience, customer satisfaction.</p>
    <img src="../assets/imgabout/img-benner.png" alt="" srcset="" class="rounded my-4 ">
    </div>
      </div>
      <div class="our-service container-fluid ">
        <div class="container d-flex align-items-center" style="gap:50px">
          <div class="w-50 d-flex flex-column gap-2">
               <h1 class="text-blue-clr" style="font-size: 32px;">Our Services</h1>
               <p>We are a comprehensive personal and business solutions service provider, helping you optimize and save on your shipping needs through the following services:</p>
               </div>
               <div class="w-50 d-flex flex-column gap-2">
               <h2>1. National and international shipment labels (USPS, CP, DHL, UPS, etc)</h2>
               <h2>2. Sale of shipping and packaging supplies</h2>
               <h2>3. Cross-Border Mailboxes (Import, Export, Internet Purchases, Courier)</h2>
               </div>
        </div>
    
      </div>
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
