 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/shippinglabels.css" rel="stylesheet" />
</head>
<body>
    <section class="container shippinglabels">
        <div class="ms-2 ms-lg-0 mb-4 d-flex flex-column gap-4" >
      <h1 class="text-blue-clr" style="font-size: 32px;">Cross-Border Mailbox</h1>
      <h2 style="font-size: 20px; font-weight: 600;">How It Works</h2>
      <p>With our Cross-Border Mailbox service you receive your packages and documents within their originating country in the most convenient, fast and economical way. With your ShipLink address you can make purchases online at your favorite stores, subscribe to magazines, receive correspondence and much more without the extra costs of international shipping and brokerage surcharges for items worth less than $800.</p>
    <div style="font-size: 20px; font-weight: 600; " class="text-center">Buy and Receive </div>
      </div>
      <div class="container d-flex  flex-column flex-lg-row align-items-lg-center justify-content-between  content " >
            <img src="../assets/imghome/img-register.png" alt="Img Register" srcset="" class="img-fluid w-lg-25">
        <div class="w-75 d-flex flex-column  gap-3 ">
         <img src="../Assets/imghome/icons-register.png" style="width: 56px; height: 56px;" />
         <h2 class="" style="font-size: 20px; font-weight: 600; ">1. Register</h2>
            <p>Register for free and get your new shipping address to receive your purchases online.</p>
        </div>
      </div>
      
      <div class="container d-flex  flex-column flex-lg-row-reverse align-items-lg-center justify-content-between  content " >
            <img src="../assets/imghome/img-shop.png" alt="Img Shop" srcset="" class="img-fluid w-lg-25">
        <div class="w-75 d-flex flex-column  gap-3 ">
         <img src="../Assets/imghome/icons-shop.png" style="width: 56px; height: 56px;" />
         <h2 class="" style="font-size: 20px; font-weight: 600; ">2. Shop</h2>
            <p>Shop at your favorite online store and use your new local shipping address</p>
        </div>
      </div>
      
      <div class="container d-flex  flex-column flex-lg-row align-items-lg-center justify-content-between  content " >
            <img src="../assets/imghome/img-pickup.png" alt="Img Pickup" srcset="" class="img-fluid w-lg-25">
        <div class="w-75 d-flex flex-column  gap-3 ">
         <img src="../Assets/imghome/icons-pickup.png" style="width: 56px; height: 56px;" />
         <h2 class="" style="font-size: 20px; font-weight: 600; ">3. Pick up or Receive</h2>
            <p>Pick up your purchases at your ShipLink Mailbox branch or Receive them at your door via our cross-border transfer service.</p>
        </div>
      </div>
      

     

    </section>
      <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>