<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

   <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <!-- HeroSection -->
    <section class="header container-fluid">
        <div class="header-item text-center ">
            <h1>Cross-Border Ship & Receive is Here</h1>
            <button class="btn-clr-red" style="padding: 10px 40px;">Learn More</button>
        </div>
        <div class="header-item text-center">
            <h1>Up to 70% off Shipping Labels</h1>
            <button class="btn-clr-red" style="  padding: 10px 40px;">Learn More</button>
        </div>
    </section>
    <!-- HeroSection -->

    <!-- Section Membership -->
    <section class="container membership">
        <h3>Membership Plans</h3>
        <h2>2 Ways to Save on Shipping</h2>
        <div>
            <p>- Heavily discounted rates on shipping labels thanks to our volume accounts with world class carriers and partners</p>
            <p>- Your own local US and Canadian address for fast low cost cross-border transfers</p>
        </div>
        <div class="d-flex flex-column flex-md-row gap-4">
            @Html.Partial("../Components/CardMembershipPlans")
        <div class="mt-5  d-flex">
                <button class="btn-more-plans m-auto">More on Plans and Pricing</button>
                </div>
    </section>
    <!-- Section Membership  -->

    <!-- section Cross -->
    <section class="cross container-fluid">
        <div class="cross-content container">
            <div class="row row-cols-1 flex-column-reverse  flex-md-row  row-cols-md-2 ">
                <div class="col d-flex flex-column cross-mailbox ">
                    <h2 class="text-blue mt-2  mt-md-0">Cross-Border Mailboxes</h2>
                    <h3 class="" style="font-weight: 600; font-size: 20px;">
                        How it Works
                    </h3>
                    <p>With our Cross-Border Mailbox service you receive your packages and documents within their originating country in the most convenient, fast and economical way. With your ShipLink address you can make purchases online at your favorite stores, subscribe to magazines, receive correspondence and much more without the extra costs of international shipping and brokerage surcharges for items worth less than $800.</p>
                </div>
                <div class="col">
                    <img src="../assets/imghome/img-cross.png" alt="" srcset="" class="img-fluid">
                </div>
            </div>
            <div class="content-two">
                <h3 class="" style="font-weight: 600; font-size: 20px;">
                    Buy and Receive
                </h3>
                <div class="d-flex flex-column flex-md-row gap-2 gap-md-4 " style="">
                        <div class="cross-card ">
                            <div class="w-fit">
                                <img src="../assets/imghome/register.png" alt="" srcset="">
                            </div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                1.Register
                            </h3>
                            <p>Register for free and get your new shipping address to receive your purchases online.</p>
                        </div>
                        <div class="cross-card ">
                            <div class="w-fit">
                                <img src="../assets/imghome/shop.png" alt="" srcset="">
                            </div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                2.Shop
                            </h3>
                            <p>Shop at your favorite online store and use your new local shipping address</p>
                        </div>
                        <div class="cross-card ">
                            <div class="w-fit">
                                <img src="../assets/imghome/pickup.png" alt="" srcset="">
                            </div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                3. Pick up or Receive
                            </h3>
                            <p>Pick up your purchases at your ShipLink Mailbox branch or Receive them at your door via our cross-border transfer service</p>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section Cross -->
    <!-- FreeAcount -->
    <section class="freeacount container-fluid">
        <div class="freeacount-content container">
            <h2>Free Account</h2>
            <p class="text-center ">
                Join us for great benefits by getting your Free Account right now!
                Enjoy exclusive access to our specialized services, unique features and unmatched prices
            </p>
            <button class="btn-clr-red" style="padding: 10px 40px;">Get My Free Account Now</button>
        </div>
    </section>
    <!-- FreeAcount -->
    <!-- ShippingLabels -->
    <section class="shippinglabels container-fluid">
        <div class="container">
            <h2 class="text-blue">Shipping Labels</h2>
            <div class="shippinglabels-content">
                    <img src="../assets/imghome/img-shipping.png" alt="" srcset="" class="">
                <div class="d-flex flex-column shipping-card" >
                    <h3 class="" style="font-weight: 600; font-size: 20px;">
                        How it Works
                    </h3>
                    <div class="d-flex flex-column flex-md-row flex-lg-column gap-4">


                    <div class="d-flex align-items-center bg-light" style="gap: 20px; padding: 20px; border-radius: 8px;">
                        <div>
                            <img src="../assets/imghome/get.png" alt="" srcset="">
                        </div>
                        <div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                1. Get an Instant Quote
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed purus sit. </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center bg-light" style="gap: 20px; padding: 20px; border-radius: 8px;">
                        <div>
                            <img src="../assets/imghome/select.png" alt="" srcset="">
                        </div>
                        <div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                2. Select Service and Carrier
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed purus sit. </p>
                        </div>
                    </div>
                    </div>
                                        <div class="d-flex flex-column flex-md-row flex-lg-column gap-4">
                    <div class="d-flex align-items-center bg-light" style="gap: 20px; padding: 20px; border-radius: 8px;">
                        <div>
                            <img src="../assets/imghome/print.png" alt="" srcset="">
                        </div>
                        <div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                3. Print Label, Stick it On, and Ship
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed purus sit. </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center bg-light" style="gap: 20px; padding: 20px; border-radius: 8px;">
                        <div>
                            <img src="../assets/imghome/search.png" alt="" srcset="">
                        </div>
                        <div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                4. Track it
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed purus sit.  </p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
          <div class="container shippinglabels-singup">
                <h2>Sign Up</h2>
                <p class="text-center w-75">
                    Join us for great benefits by getting your Free Account right now!
                    Enjoy exclusive access to our specialized services, unique features and unmatched prices
                </p>
                <button class="btn-clr-red" style="padding: 10px 40px;">Get My Free Account Now</button>
            </div>
    </section>
    <!-- ShippingLabels -->
    <!-- Choose -->
    <section class="choose container">
        <h2 class="text-blue p-1 py-md-0 ">Why Choose ShipLink?</h2>
        <div class="choose-content ">
             <div class="row" style="gap:32px">
                <div class="col choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/imghome/website.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Website</h2>
                            <p>With our advanced website platform you can buy, track and control in real time, all in one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/imghome/payment.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Online Payment</h2>
                            <p>Make your payments online for fast collection at branches and terminals.</p>
                        </div>
                    </div>
                </div>
                <div class="col choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/imghome/weight.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>By Weight</h2>
                            <p>You only pay for what it weighs, you do not pay for volumetric weight.</p>
                        </div>
                    </div>
                </div>
            </div>
              <div class="row " style="gap:32px">
                <div class="col choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/imghome/ship.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>ShipLink Points</h2>
                            <p>You accumulate points that you can redeem for discounts on our services.</p>
                        </div>
                    </div>
                </div>
                <div class="col choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/imghome/brach.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Branches</h2>
                            <p>Several terminals and branches in the US and Canada at your disposal.</p>
                        </div>
                    </div>
                </div>
                <div class="col choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/imghome/rate.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Tiered Rate</h2>
                            <p>The heavier your package, the cheaper your rate per pound.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choose -->
    <!-- ourWorld partner -->
    <section class="container-fluid partner">
        <div class="container">
            <h1 class="text-center">Our World Class Partners and Carriers</h1>
            <p class="text-center">We only work with the world’s most reputable carriers</p>
            <img src="../assets/imghome/partner.png" alt="img partner" srcset="" style="width: 100%; height: 100%;">
        </div>

    </section>
    <!-- ourWorld partner-->


    <!-- Footer -->

    <!-- Footer -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>