<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <link href="~/lib/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">ShipLink</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav w-100 d-flex justify-content-between" style="padding: 0px 40px">
                    <a href="#" class="nav-item nav-link active">Cross-Border Mailbox</a>
                    <a href="#" class="nav-item nav-link">Shipping Labels</a>
                    <a href="#" class="nav-item nav-link">Shipping Supplies</a>
                    <a href="#" class="nav-item nav-link">About Us</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">EN</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Inbox</a>
                            <a href="#" class="dropdown-item">Sent</a>
                            <a href="#" class="dropdown-item">Drafts</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav d-flex align-items-center gap-4">
                    <a href="/Home/Register" class="nav-item nav-link border rounded-2 border-light" style="padding: 8px 40px">Register</a>
                    <a href="/Home/Login" class="nav-item nav-link border rounded-2 bg-danger border-danger" style="padding: 8px 40px">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <!-- HeroSection -->
    <div class="header">
        <div class="header-item">
            <h1>Cross-Border Ship & Receive is Here</h1>
            <button class="btn-clr-red" style="  padding: 10px 40px;">Learn More</button>
        </div>
        <div class="header-item">
            <h1>Up to 70% off Shipping Labels</h1>
            <button class="btn-clr-red" style="  padding: 10px 40px;">Learn More</button>
        </div>
    </div>
    <!-- HeroSection -->
    <!-- Section Membership -->
    <section class="container membership">
        <h3>Membership Plans</h3>
        <h2>2 Ways to Save on Shipping</h2>
        <div>
            <p>- Heavily discounted rates on shipping labels thanks to our volume accounts with world class carriers and partners</p>
            <p>- Your own local US and Canadian address for fast low cost cross-border transfers</p>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body flex-column d-flex justify-content-between">
                        <div>
                            <div class="card-title">
                                <div><img src="../assets/img/free.png" alt="" srcset="" /></div>
                                <h5>Free</h5>
                            </div>
                            <h6 class="card-pay">$0</h6>
                            <div class="card-detail">
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Personal Dashboard</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Your US ShipLink Address</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Your Canadian ShipLink Address</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">SLA to SLA Cross-Border Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Package Forwarding Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Self Pick-Up at ShipLink Terminals</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Consolidation Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Discounted Shipping Labels</div>
                                </div>
                            </div>
                        </div>
                        <button class="btn-clr-red" style="width: 100%; padding: 10px;">Get My Account</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body flex-column d-flex justify-content-between">
                        <div>
                            <div class="card-title">
                                <div><img src="../assets/img/premium.png" alt="" srcset="" /></div>
                                <h5>Premium<span>/mount</span></h5>
                            </div>
                            <h6 class="card-pay">$9.99</h6>
                            <div class="card-detail">
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Personal Dashboard</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Your US ShipLink Address</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Your Canadian ShipLink Address</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">SLA to SLA Cross-Border Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Package Forwarding Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Self Pick-Up at all Terminals</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Consolidation Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Level 2 Discount Shipping Labels</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Pallet Reception</div>
                                </div>
                            </div>
                        </div>
                        <button class="btn-clr-red" style="width: 100%; padding: 10px;">Get My Account</button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body flex-column d-flex justify-content-between">
                        <div>
                            <div class="card-title">
                                <div><img src="../assets/img/bussines.png" alt="" srcset="" /></div>
                                <h5>Bussines<span>/mount</span></h5>
                            </div>
                            <h6 class="card-pay">$99.99</h6>
                            <div class="card-detail">
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Business Dashboard</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Your US ShipLink Address</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Your Canadian ShipLink Address</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">SLA to SLA Cross-Border Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Package Forwarding Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Self Pick-Up at all Terminals</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Consolidation Services</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Level 3 Discount Shipping Labels</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Pallet Reception</div>
                                </div>
                                <div class="card-text-svg">
                                    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.20028 11.6866C4.9377 11.6871 4.67761 11.6356 4.43495 11.5353C4.19229 11.435 3.97185 11.2877 3.78628 11.1019L0.0576172 7.3739L1.00028 6.43057L4.72895 10.1592C4.85397 10.2842 5.02351 10.3544 5.20028 10.3544C5.37706 10.3544 5.5466 10.2842 5.67162 10.1592L15.0003 0.830566L15.943 1.77323L6.61428 11.1019C6.42872 11.2877 6.20828 11.435 5.96562 11.5353C5.72296 11.6356 5.46287 11.6871 5.20028 11.6866Z"
                                              fill="#00509D" />
                                    </svg>
                                    <div class="text">Account Manager</div>
                                </div>
                            </div>
                        </div>
                        <button class="btn-clr-red" style="width: 100%; padding: 10px;">Get My Account</button>
                    </div>
                </div>
            </div>
            <div class="mx-auto w-auto">
                <button class="btn-more-plans">More on Plans and Pricing</button>
            </div>
    </section>
    <!-- Section Membership  -->
    <!-- section Cross -->
    <section class="cross container-fluid">
        <div class="cross-content container">
            <div class="content-one">
                <div class="w-50 d-flex flex-column " style="gap: 32px;">
                    <h2 class="text-blue">Cross-Border Mailboxes</h2>
                    <h3 class="" style="font-weight: 600; font-size: 20px;">
                        How it Works
                    </h3>
                    <p>With our Cross-Border Mailbox service you receive your packages and documents within their originating country in the most convenient, fast and economical way. With your ShipLink address you can make purchases online at your favorite stores, subscribe to magazines, receive correspondence and much more without the extra costs of international shipping and brokerage surcharges for items worth less than $800.</p>
                </div>
                <div class="w-50">
                    <img src="../assets/img/img-cross.png" alt="" srcset="">
                </div>
            </div>
            <div class="content-two">
                <h3 class="" style="font-weight: 600; font-size: 20px; margin-top: 20px;">
                    Buy and Receive
                </h3>
                <div class="" style="margin-top: 40px;">
                    <div class="row">
                        <div class="col-4 cross-card ">
                            <div class="w-fit">
                                <img src="../assets/img/register.png" alt="" srcset="">
                            </div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                1.Register
                            </h3>
                            <p>Register for free and get your new shipping address to receive your purchases online.</p>
                        </div>
                        <div class="col-4 cross-card ">
                            <div class="w-fit">
                                <img src="../assets/img/shop.png" alt="" srcset="">
                            </div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                2.Shop
                            </h3>
                            <p>Shop at your favorite online store and use your new local shipping address</p>
                        </div>
                        <div class="col-4 cross-card ">
                            <div class="w-fit">
                                <img src="../assets/img/pickup.png" alt="" srcset="">
                            </div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                3. Pick up or Receive
                            </h3>
                            <p>Pick up your purchases at your ShipLink Mailbox branch or Receive them at your door via our cross-border transfer service</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section Cross -->
    <!-- FreeAcount -->
    <section class="freeacount container-fluid">
        <div class="freeacount-content container">
            <h2>Free Account</h2>
            <p class="text-center w-75">
                Join us for great benefits by getting your Free Account right now!
                Enjoy exclusive access to our specialized services, unique features and unmatched prices
            </p>
            <button class="btn-clr-red" style="padding: 10px 40px;">Get My Free Account Now</button>
        </div>
    </section>
    <!-- FreeAcount -->
    <!-- ShippingLabels -->
    <section class="shippinglabels container-fluid">
        <div class=" container">
            <h2 class="text-blue">Shipping Labels</h2>
            <div class="shippinglabels-content">
                <div class="w-auto">
                    <img src="../assets/img/img-shipping.png" alt="" srcset="">
                </div>
                <div class="d-flex flex-column w-75" style="gap: 32px;">
                    <h3 class="" style="font-weight: 600; font-size: 20px;">
                        How it Works
                    </h3>
                    <div class="d-flex align-items-center bg-light" style="gap: 20px; padding: 20px; border-radius: 8px;">
                        <div>
                            <img src="../assets/img/get.png" alt="" srcset="">
                        </div>
                        <div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                1. Get an Instant Quote
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed purus sit. </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center bg-light" style="gap: 20px; padding: 20px; border-radius: 8px;">
                        <div>
                            <img src="../assets/img/select.png" alt="" srcset="">
                        </div>
                        <div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                2. Select Service and Carrier
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed purus sit. </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center bg-light" style="gap: 20px; padding: 20px; border-radius: 8px;">
                        <div>
                            <img src="../assets/img/print.png" alt="" srcset="">
                        </div>
                        <div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                3. Print Label, Stick it On, and Ship
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed purus sit. </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center bg-light" style="gap: 20px; padding: 20px; border-radius: 8px;">
                        <div>
                            <img src="../assets/img/search.png" alt="" srcset="">
                        </div>
                        <div>
                            <h3 class="" style="font-weight: 600; font-size: 20px;">
                                4. Track it
                            </h3>
                            <p>Lorem ipsum dolor sit amet consectetur. Ultrices pulvinar sed purus sit.  </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shippinglabels-singup">
                <h2>Sign Up</h2>
                <p class="text-center w-75">
                    Join us for great benefits by getting your Free Account right now!
                    Enjoy exclusive access to our specialized services, unique features and unmatched prices
                </p>
                <button class="btn-clr-red" style="padding: 10px 40px;">Get My Free Account Now</button>
            </div>
        </div>
    </section>
    <!-- ShippingLabels -->
    <!-- Choose -->
    <section class="choose container">
        <h2 class="text-blue">Shipping Labels</h2>
        <div class="choose-content ">
            <div class="row">
                <div class="col-4 choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/img/website.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Website</h2>
                            <p>With our advanced website platform you can buy, track and control in real time, all in one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/img/website.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Website</h2>
                            <p>With our advanced website platform you can buy, track and control in real time, all in one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/img/website.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Website</h2>
                            <p>With our advanced website platform you can buy, track and control in real time, all in one place.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-4 choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/img/website.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Website</h2>
                            <p>With our advanced website platform you can buy, track and control in real time, all in one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/img/website.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Website</h2>
                            <p>With our advanced website platform you can buy, track and control in real time, all in one place.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 choose-card">
                    <div class="d-flex align-items-center" style="gap: 16px;">
                        <div>
                            <img src="../assets/img/website.png" alt="" srcset="">
                        </div>
                        <div>
                            <h2>Website</h2>
                            <p>With our advanced website platform you can buy, track and control in real time, all in one place.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Choose -->
    <!-- ourWorld partner -->
    <section class="container-fluid partner">
        <div class="container">
            <h1 class="text-center">Our World Class Partners and Carriers</h1>
            <p class="text-center">We only work with the world’s most reputable carriers</p>
            <img src="../assets/img/partner.png" alt="img partner" srcset="">
        </div>

    </section>
    <!-- ourWorld partner-->
    <!-- Footer -->
    <footer class="container-fluid support">
        <div class="container d-flex justify-content-between align-items-center" style="padding: 40px 0px">
            <div class="d-flex flex-column" style="gap: 34px">
                <h1 class="text-red-clr">ShipLink</h1>
                <div>
                    <p>Email Support</p>
                    <div class="d-flex align-items-center gap-2">
                        <img src="../assets/img/email-logo.png" alt="email Logo" srcset="" />
                        <div>Email Support</div>
                    </div>
                </div>
                <div>
                    <p>Follow Us</p>
                    <div class="d-flex align-items-center gap-2">
                        <img src="../assets/img/facebook-logo.png" alt="fecebook Logo" srcset="" />
                        <img src="../assets/img/twitter-logo.png" alt="twitter Logo" srcset="" />
                        <img src="../assets/img/instagram-logo.png" alt="instagram Logo" srcset="" />
                    </div>
                </div>
            </div>
            <div class="d-flex" style="gap: 80px">
                <div class="">
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>about</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Support</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Membership</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>How it works</p>
                    </div>
                </div>
                <div class="">
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Shipping Calculator</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Prohibited Items</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Contact</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Info</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container d-flex">
                <p class="w-25">© 2023 ShipLink.ca</p>
                <div class="d-flex w-50" style="gap: 48px; margin-left: 80px;">
                    <p>Terms and Conditions</p>
                    <div>|</div>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
        </div>
    </footer>

    <!-- Footer -->
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>