@model Client_Shiplink.ViewModel.RegisterVM


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <link href="~/lib/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/register.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-expand-lg custom-navbar fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">ShipLink</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav w-100 d-flex justify-content-between" style="padding: 0px 40px">
                    <a href="#" class="nav-item nav-link active">Cross-Border Mailbox</a>
                    <a href="#" class="nav-item nav-link">Shipping Labels</a>
                    <a href="#" class="nav-item nav-link">Shipping Supplies</a>
                    <a href="#" class="nav-item nav-link">About Us</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">EN</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Inbox</a>
                            <a href="#" class="dropdown-item">Sent</a>
                            <a href="#" class="dropdown-item">Drafts</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav d-flex align-items-center gap-4">
                    <a href="" class="nav-item nav-link border rounded-2 border-light" style="padding: 8px 40px">Register</a>
                    <a href="../login/" class="nav-item nav-link border rounded-2 bg-danger border-danger" style="padding: 8px 40px">Login</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="container register">
        <div class="">
            <h3 class="text-center" style="color: rgba(0, 80, 157, 1)">Save money, save time, take control of your deliveries.</h3>
            <h1 class="text-center" style="margin-bottom: 40px">Sign up to send and save instantly.</h1>
            <form asp-action="Register" class="form-register shadow text-left">
                <div class="form-group">
                    <label for="exampleInputEmail1">Full Name </label>
                    <input asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">I plan to use Sendle for</label>                
                    <div class="d-flex justify-content-between gap-4">
@*                        <label asp-for="user_Type" class="control-label"></label>*@
                        <div class="w-50 form-plan">
                            <label class="form-check-label" for="flexRadioDefault1"> Business </label> 
                            <input asp-for="user_Type" class="form-check-input" type="radio" name="user_type" id="user" value="Business" />
                            </div>
                        <div class="form-plan w-50">
                            <label class="form-check-label" for="flexRadioDefault2"> Personal </label>
                            <input asp-for="user_Type" class="form-check-input" type="radio" name="user_type" id="user" value="Personal" />
                        </div>
@*                        <span asp-validation-for="user_Type" class="text-danger"></span>
*@                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Country</label>
                    <select asp-for="Country" class="form-select" aria-label="Default select example">
                        <option value="Australia">Australia</option>
                        <option value="United States">United Stated</option>
                        <option value="Canada">Canada</option>
                        <option value="Japan">Japan</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input asp-for="Email" type="text" class="form-control" id="exampleInputPassword1" placeholder="" />
                </div>
              <div class="form-group">
                    <label for="exampleInputPassword1">password</label>
                    <input asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="" />
                    <label for="">Must be at least 8 characters</label>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                    <label class="form-check-label" for="exampleCheck1">By signing up you agree to our <span class="text-red-clr">terms and conditions.</span></label>
                </div>

                <button type="submit" class="btn bg-red-clr">Get My Free Account</button>
                <div>Already have an account? <a class="text-red-clr" href="/Home/login/" style="cursor: pointer">Login up now</a></div>
            </form>
        </div>
    </section>
    <!-- Footer -->
    <footer class="container-fluid support">
        <div class="container d-flex justify-content-between align-items-center" style="padding: 40px 0px">
            <div class="d-flex flex-column" style="gap: 34px">
                <h1 class="text-red-clr">ShipLink</h1>
                <div>
                    <p>Email Support</p>
                    <div class="d-flex align-items-center gap-2">
                        <img src="../assets/img/email-logo.png" alt="email Logo" srcset="" />
                        <div>Email Support</div>
                    </div>
                </div>
                <div>
                    <p>Follow Us</p>
                    <div class="d-flex align-items-center gap-2">
                        <img src="../assets/img/facebook-logo.png" alt="fecebook Logo" srcset="" />
                        <img src="../assets/img/twitter-logo.png" alt="twitter Logo" srcset="" />
                        <img src="../assets/img/instagram-logo.png" alt="instagram Logo" srcset="" />
                    </div>
                </div>
            </div>
            <div class="d-flex" style="gap: 80px">
                <div class="">
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>about</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Support</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Membership</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>How it works</p>
                    </div>
                </div>
                <div class="">
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Shipping Calculator</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Prohibited Items</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Contact</p>
                    </div>
                    <div class="d-flex gap-2">
                        <p class="text-red-clr">></p>
                        <p>Info</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container d-flex">
                <p class="w-25">© 2023 ShipLink.ca</p>
                <div class="d-flex w-50" style="gap: 48px; margin-left: 80px;">
                    <p>Terms and Conditions</p>
                    <div>|</div>
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
        </div>
    </footer>

    <!-- Footer -->
    <script src="~/lib/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

