

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/shippinglabels.css" rel="stylesheet" />
</head>
<body>
    <section class="container shippinglabels">
        <div class="" style="padding: 40px 0px;">
      <h1 class="text-blue-clr" style="font-size: 32px;">Shipping Labels</h1>
      <h2 style="font-size: 20px; font-weight: 600;">How It Works</h2>
      </div>
      <div class="container d-flex align-items-center " style="padding:32px; gap: 32px;">
        <div class="w-25">
            <img src="../assets/imgshippinglabels/img-getInstant.png" alt="Img Get Instant" srcset="">
        </div>
        <div class="w-75 d-flex flex-column  gap-3 ">
            <div class="bg-red-clr rounded-1 d-flex justify-content-center  align-items-center" style="width: 56px; height: 56px; ">
            <h2 style="font-size: 22px; font-weight: 600; " class="text-red-clr pt-2">1</h2>
            </div>
         <h2 class="" style="font-size: 20px; font-weight: 600; ">Get an Instant Quote</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Massa non lectus dictumst consequat massa molestie ipsum mauris. Id arcu dolor integer et ultrices. Enim ipsum ridiculus a a. Metus adipiscing purus scelerisque tortor tempor pretium turpis rhoncus.</p>
        </div>
      </div>
      <div class="container d-flex align-items-center " style="padding:32px; gap: 32px;">
        <div class="w-75 d-flex flex-column  gap-3 ">
            <div class="bg-red-clr rounded-1 d-flex justify-content-center  align-items-center" style="width: 56px; height: 56px; ">
            <h2 style="font-size: 22px; font-weight: 600; " class="text-red-clr pt-2">2</h2>
            </div>
         <h2 class="" style="font-size: 20px; font-weight: 600; ">Select Service and Carrier</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Massa non lectus dictumst consequat massa molestie ipsum mauris. Id arcu dolor integer et ultrices. Enim ipsum ridiculus a a. Metus adipiscing purus scelerisque tortor tempor pretium turpis rhoncus.</p>
        </div>
              <div class="w-25">
            <img src="../assets/imgshippinglabels/img-Selectservice.png" alt="Img Get Instant" srcset="">
        </div>
      </div>
      <div class="container d-flex align-items-center " style="padding:32px; gap: 32px;">
        <div class="w-25">
            <img src="../assets/imgshippinglabels/img-Printlabel.png" alt="Img Get Instant" srcset="">
        </div>
        <div class="w-75 d-flex flex-column  gap-3 ">
            <div class="bg-blue-clr rounded-1 d-flex justify-content-center  align-items-center" style="width: 56px; height: 56px; ">
            <h2 style="font-size: 22px; font-weight: 600; " class="text-blue-clr pt-2">3</h2>
            </div>
         <h2 class="" style="font-size: 20px; font-weight: 600; ">Print Label, Stick it On, and Ship</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Massa non lectus dictumst consequat massa molestie ipsum mauris. Id arcu dolor integer et ultrices. Enim ipsum ridiculus a a. Metus adipiscing purus scelerisque tortor tempor pretium turpis rhoncus.</p>
        </div>
      </div>
      <div class="container d-flex align-items-center " style="padding:32px; gap: 32px;">
        <div class="w-75 d-flex flex-column  gap-3 ">
            <div class="bg-blue-clr rounded-1 d-flex justify-content-center  align-items-center" style="width: 56px; height: 56px; ">
            <h2 style="font-size: 22px; font-weight: 600; " class="text-blue-clr pt-2">4</h2>
            </div>
         <h2 class="" style="font-size: 20px; font-weight: 600; ">Track it</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Massa non lectus dictumst consequat massa molestie ipsum mauris. Id arcu dolor integer et ultrices. Enim ipsum ridiculus a a. Metus adipiscing purus scelerisque tortor tempor pretium turpis rhoncus.</p>
        </div>
              <div class="w-25">
            <img src="../assets/imgshippinglabels/img-Trackit.png" alt="Img Get Instant" srcset="">
        </div>
      </div>
    </section>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

